flask
torch
transformers
faiss-cpu
sentence-transformers
huggingface-hub
pymongo
qdrant-client
clearml
gradio
youtube-transcript-api
google-api-python-client
yt-dlp
pyyaml
nbimporter
nltk
sentence-transformers
